* {
  margin: 0;
  padding: 0;
}

header {
  font: bold 36px/120% Arial, Helvetica, sans-serif;
  background: #333;
  color: #c00;
  text-transform: uppercase;
}

section p {
  font: bold 24px/150% Arial, Helvetica, sans-serif;
  background: #ccc;
  border: #999 2px solid;
  color: #666;
  text-align: center;
  padding: 10px;
  margin: 10px;
  width: 300px;
}

.correct {
  background: #0c0;
  border: #090 2px solid;
  color: #060;
}

.wrong {
  background: #c00;
  border: #900 2px solid;
  color: #600;
}

button {
  font: bold 24px/150% Arial, Helvetica, sans-serif;
  display: block;
  width: 300px;
  padding: 10px;
  margin: 10px auto;
}
